<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <!-- Back Button -->
    <button onclick="goBack()">Go Back</button>

    <script>
        function goBack() {
            window.history.back();
         }
    </script>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">My Website</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/htmlDemo">HTML Demo</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container mt-5">
        <h1 style="text-align: center;">Welcome To My Website</h1>
        <h2 style="text-align: center;">About Me</h2>
        <p>
            Student Name: Padmapriya PalaniSwamiNathan <br>
            Student ID: 141093237 <br>
            Program: Business Information Technology<br>
            Desc: This website is used for displaying data about Students,Courses ,Student data with their student number,Students by Course and Teaching Assistants
        </p>
        <p style="background-color:powderblue;">Hello! My name is Padmapriya PalaniSwamiNathan. I am currently studying Business Information Technology at Seneca College. 
            <br>In addition to my academic pursuits, I have a passion for reading books and enjoy immersing myself in different genres, from fiction to non-fiction. 
            <br>When I'm not studying or reading, you can find me in my garden, tending to my plants and enjoying the tranquility that gardening brings. 
            <br>My interests in technology, literature, and nature help me maintain a well-rounded and fulfilling lifestyle.</p>
    </div>
</body>
</html>
